
<div class="col-md-12" ng-controller="testArenaCtrl">
    <form name="remote">        
        <div class="grouped">
            <div style="position: fixed;">
                <span ng-if="!showTestRunDetailed" ng-repeat="entry in testRuns" >
                    <span ng-if="!entry.completedAt && entry.startedAt" ng-click="cmdShowTopic('testRunsDetails')" class="cmd fa fa-space-shuttle" ng-attr-title="{{entry.dll}}"></span>
                    <span ng-if="!entry.completedAt && !entry.startedAt" ng-click="cmdShowTopic('testRunsDetails')" class="cmd fa fa-question-circle" ng-attr-title="{{entry.dll}}"></span>
                    <span ng-if="entry.completedAt && entry.results[0].failed !== 0" ng-click="cmdShowTopic('testRunsDetails')" class="cmd fa  fa-thumbs-o-down error" ng-attr-title="{{entry.results[0].failed}} / {{(entry.results[0].passed + entry.results[0].failed)}} in {{entry.results[0].duration}}"></span>
                    <span ng-if="entry.completedAt && entry.results[0].failed === 0" ng-click="cmdShowTopic('testRunsDetails')" class="cmd fa fa-trophy infor" ng-attr-title="{{entry.results[0].failed}} / {{(entry.results[0].passed + entry.results[0].failed)}} in {{entry.results[0].duration}}"></span>
                </span>
                <table ng-if="showTestRunDetailed" class="table table-hover table-striped table-condensed h6">
                    <tbody>
                        <!--  ng-if="currentTopic.length != 0 -->
                        <tr ng-repeat="entry in testRuns" ng-init="showLogs = false">
                            <td width=5% ng-class="{none: !entry.completedAt && entry.total, error: entry.results.length > 0 && entry.results[0].failed !== 0, infor: entry.results.length > 0 && entry.results[0].failed === 0}">
                                <span ng-if="!entry.completedAt && entry.startedAt" ng-click="cmdShowTopic('testRunsDetails')" class="cmd fa fa-space-shuttle" ng-attr-title="In Progress..."></span>
                                <span ng-if="!entry.completedAt && !entry.startedAt" ng-click="cmdShowTopic('testRunsDetails')" class="cmd fa fa-question-circle" ng-attr-title="Not run yet..."></span>
                                <span ng-if="entry.completedAt && entry.results[0].failed !== 0" ng-click="cmdShowTopic('testRunsDetails')" class="cmd fa fa-thumbs-o-down error" ng-attr-title="{{entry.results.length}} test outcomes"></span>
                                <span ng-if="entry.completedAt && entry.results[0].failed === 0" ng-click="cmdShowTopic('testRunsDetails')" class="cmd fa fa-trophy infor" ng-attr-title="{{entry.results.length}} test outcomes"></span>
                            </td>
                            <td width=5%>
                                <span title="Reload" ng-click="publish('', 'StartUnitTest '+ entry.dll)" class="cmd fa fa-rocket"></span>
                                <span class="popuptrigger" ng-click="showLogs = !showLogs">
                                    {{entry.dll}}
                                    <div class="popup">
                                        <span class="popuptext" ng-class="{show: showLogs}">     
                                        <span title="Discover all unit tests in the dll again" ng-click="publish('', 'DiscoverUnitTests '+ entry.dll)" class="cmd fa fa-table"></span>
                                        <span class="cmd fa fa-exclamation-circle" ng-click="publish('TestArena\\'+entry.worker+'', 'StopUnitTest')" title="STOP running tests"></span>
                                        <span class="cmd fa fa-search" ng-click="cmdShowTopic(''+entry.dll+'')" title="Show these tests"></span>
                                            <span ng-repeat="a in entry.assets">
                                                <a ng-href="{{'/tenantLogs/' + a}}" target="_tenantlogs"><span class="cmd fa fa-stack-overflow" ng-attr-title="{{a}}"></span></a>
                                            </span>
                                        </span>
                                    </div>
                            </td>
                            </span>
                            <td width=5% ng-if="entry.completedAt && entry.results[0].failed !== 0">{{entry.results[0].failed}} / {{(entry.results[0].failed + entry.results[0].passed)}}</td>
                            <td width=5% ng-if="!entry.completedAt && entry.total !== 0">{{entry.total}}</td>
                            <td width=5% ng-if="entry.completedAt && entry.results[0].failed === 0">{{(entry.results[0].passed)}}</td>
                            <td width=5% ng-attr-title="{{entry.results[0].duration}}">{{entry.results[0].duration}}</td>
                            <td width=80%>
                                <bar-chart  class="cmd" height="30" max-duration="testArenaCfg.maxDurationMs" data="entry.results"></bar-chart>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="pieChart gfirst">
                <pie-chart class="cmd" ng-click="cmdShowTopic('slow')" data="slowTests"></pie-chart>
                <img src="img/thebfg.png" ng-style="{'visibility': slowTests.length > 0 ? 'hidden' : 'visible'}" style="mix-blend-mode: multiply; position: absolute; top: 112px; left:-1px" />
                <div class="fire" style="
                border-radius: 80%;
                border-style: dashed;
                position: absolute;
                top: 93px;
                left: 650px;
                width: 10px;
                border-width: 76px;
                height: 10px;              
                opacity: 0%;
                transition: opacity 0.5s;" ng-style="{'opacity': shouldFire ? '20%' : '0%'}"></div>
            </div>
            <div class="barchart gsecond" style="border-radius:2%;border-style: inset;border-width: 3px;">
                <bar-chart class="cmd" height="250" ng-click="cmdShowTopic('log')" data="testSummary"></bar-chart>
            </div>
        </div>

        <div style="margin-top: 15px;" ng-init="isRecording = false" >                        
            <span width="40">
                <span title="Reload" ng-click="cmdReload()" ng-class="{error: !testArenaInfo.isConnected, infor: testArenaInfo.isConnected}" class="cmd fa fa-rocket fa-2x">
                </span>
                    <i title="Errors" ng-click="cmdShowTopic('Failed')" class="cmd" style="font-size:larger; padding-right:5px; padding-left: 5px;" ng-class="{error : testGlance.errors != '0', infor : testGlance.errors == '0'}">                    
                        {{testGlance.errors}}
                    </i>
                </span>
        / <span class="cmd" ng-click="cmdShowTopic('all')">{{testGlance.total}}</span>

                <span><span ng-click="cmdShowTopic('slow')" class="cmd fa fa-truck fa-2x" title="Slow: Duration > 100ms"></span>{{testGlance.slow}}</span>
            <span><span ng-click="cmdShowTopic('flakey')" class="cmd fa fa-rmb fa-2x" title="Flakey"></span> {{testGlance.flakey}}</span>            
            <span><span ng-click="cmdShowTopic('log')" class="cmd fa fa-clock-o fa-2x"></span> {{msSince(testGlance.startedAt)}}</span>
            <span><span ng-click="cmdClear()" title="CLEAR ALL DATA!!!" class="cmd ux-option fa fa-scissors fa-2x"></span></span>                
            <span><span class="cmd fa fa-search-plus fa-2x"></span><input type="text" ng-model="searchTerm" width="50"/></span>
            <span><span ng-click="sendCmdDisabled = !sendCmdDisabled" class="cmd fa fa-share-square-o fa-2x" title="Send Custom Commands"></span></span>         
            <span><span ng-click="cmdLightsOutToggle()" class="cmd ux-option fa fa-sun-o fa-2x"></span></span>
            <span><span ng-click="publish('', !isRecording ? 'StartRecording' : 'StopRecording'); isRecording = !isRecording;" ng-class="{active: isRecording, inactive: !isRecording}"  class="cmd ux-option fa fa-floppy-o fa-2x"></span></span>
            <a href="/tenantLogs" target="_tenantlogs"><span class="cmd fa fa-stack-overflow fa-2x"></span></a>
            <span><span class="ux-option cmd fa fa-2x fa-wrench" ng-click="showCfg = !showCfg" title="Settings"></span></span>
            <span><span class="ux-option cmd fa fa-2x" ng-class="{'fa-volume-up': testArenaCfg.soundsOn, 'fa-volume-off': !testArenaCfg.soundsOn}" ng-click="testArenaCfg.soundsOn = !testArenaCfg.soundsOn" title="Settings"></span></span>
    </div>
    <div class="settings" ng-style="{'visibility': showCfg ? 'visible': 'hidden'}">
        <form novalidate class="simple-form">
          <label>Slow Test Threshold: <input type="number" ng-model="testArenaCfg.slowTestMs" /></label>ms<br />
          <label>Test Outcome Graph Max: <input type="number" ng-model="testArenaCfg.testDurationMax" /></label>ms<br />                   
          Lights Out: <label><input type="checkbox" ng-model="testArenaCfg.isLightsOut" /></label><br />            
          Always Save: <label><input type="checkbox" ng-model="testArenaCfg.alwaysSave" /></label><br/>                      
          Sounds On: <label><input type="checkbox" ng-model="testArenaCfg.soundsOn" /></label>                           
          <span class="cmd fa fa-floppy-o fa-2x" style="float:right;" ng-click="cmdSaveTestArenaCfg()"></span>
        </form>
    </div>
            
        <div ng-repeat="worker in workerInfo">            
            <div style="border-width: 0px;border-color: #373737; border-style: dashed;margin-top: 15px;">
                <worker-status data="worker.resources" ng-attr-title="{{'Host: '+ worker.host + ' & '+ worker.name}}"></worker-status>            
            </div>                      
            <div style="border-color: #373737 ; border-width: 0px;border-style: dashed; margin-top: -4px;">
                <span title="Name of the Node" class="fa fa-cogs fa-x2 cmd"><span style="color: #595958;">{{worker.name}}</span></span>
                <span title="Network Details" class="fa fa-sitemap cmd"><span style="color: #595958;">{{worker.computerName}} @ {{worker.ipAddress}}</span></span>
                <span title="Username workers run under" class="fa fa-child cmd"><span style="color: #595958;">{{worker.userName}}</span></span>
                <span title="Remove a worker the node" class="fa fa-minus-circle fa-x2 cmd" ng-click="publish(''+worker.route+'', 'KillWorker')" style="float:right;margin-top:2px"></span>
                <span title="Free workers / Total workers" class="cmd" style="float:right" ><span style="color: #595958;">{{worker.workers}}</span></span>
                <span title="Add another worker to the node" class="fa fa-plus-circle fa-x2 cmd" ng-click="publish(''+worker.route+'', 'SpawnWorker')" style="float:right;margin-top:2px"></span>  
                <span title="#Tags" class="fa fa-tags fa-x2 cmd" ng-if="worker.tags"><span style="color: #595958;">{{worker.tags}}</span></span>
                <span title="Stream all logs from worker for 10mins" ng-if="worker.route.indexOf('TestArena') < 0" ng-click="publish(''+worker.route+'', 'StreamLogs 10')" class="cmd ux-option fa fa-stethoscope"></span>
            </div>            
        </div>
        <div>
            <span ng-if="!sendCmdDisabled" style="color:cadetblue" class="fa fa-share-square-o fa-2x"></span>
            <div ng-if="!sendCmdDisabled" class="input-group"  style="padding-left:20px;padding-right:20px;padding-top: 5px;;padding-bottom: 5px;">
            <span class="input-group-btn" style="width: 200px;">                
                <input type="text" class="form-control" width="80" ng-init="cmd = 'Reload'" ng-model="cmd">
                <input type="text" class="form-control" width="80" ng-init="destination = ''" ng-model="destination">
                <button class="cmd btn btn-default" type="button" ng-click="publish(destination, cmd)">Send</button>
            </span>
        </div>
        
    <span ng-if="focusedOn !== undefined">
        <span class="cmd fa fa-scissors" title="Stop focusing on this test" ng-click="publish('testArena', 'StopFocusing')"></span><span title="Only firing at this test" class="cmd fa fa-crosshairs fa-2x" style="color:#b3b376"></span><spa class="cmd">{{focusedOn}}</spa>
    </span>
    </div>
    <div></div>
        <span style="color:cadetblue" ng-if="currentTopic != ''" class="fa fa-search fa-2x"></span>
            <table ng-if="currentTopic != ''" ng-class="{dark: testArenaCfg.isLightsOut, light: !testArenaCfg.isLightsOut}" class="table table-hover table-striped table-condensed h6">
                <thead>
                <th>
                    <span ng-click="orderByField='result'; reverseSort = !reverseSort">
                        Outcome
                    </span>
                </th>
                <th>
                    <span ng-click="orderByField='testName'; reverseSort = !reverseSort">
                        Test
                    </a>
                </th>
                <th>
                    <span ng-click="orderByField='duration'; reverseSort = !reverseSort">
                        Duration
                    </span>                        
                </th>
                <th>
                    Log
                </th>
                <th>
                    <span ng-click="orderByField='testName'; reverseSort = !reverseSort">
                        Worker
                    </span>
                </th>          
                <colgroup>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                </colgroup>                
                </thead>
                 <tbody><!--  ng-if="currentTopic.length != 0 -->                    
                    <tr ng-class="{error: entry.result === 'Failed', infor: entry.result === 'Passed'}" ng-init="showLogs = false" ng-repeat="entry in currentTopic |orderBy:orderByField:reverseSort track by $index ">
                        <td class="freeze">{{entry.result}}<span ng-if="entry.isNew" class="fa fa-question-circle"></span></td>
                        <td class="freeze"><span class="popuptrigger" ng-click="showLogs = !showLogs">{{entry.testName}}</span>
                            <div class="popup">
                                <span class="popuptext" ng-class="{show: showLogs}">
                                    <span title="Reload" ng-click="publish('', 'StartUnitTest '+entry.dll+'$'+entry.testName+'')" class="cmd fa fa-rocket"></span>
                                    <span class="cmd fa fa-crosshairs" ng-click="publish('', 'FocusOn '+entry.testName+'')" title="Focus On this test"></span>
                                    <span ng-repeat="a in entry.assets">
                                        <a ng-href="{{'/tenantLogs/' + a}}" target="_tenantlogs"><span class="cmd fa fa-stack-overflow" ng-attr-title="{{a}}"></span></a>
                                    </span>
                                </span>
                            </div>
                        </td>
                        <td class="freeze">{{entry.duration| number}}</td>          
                        <td style="white-space: pre;" ng-if="entry.logMessage">                            
                            <span class="cmd fa fa-ellipsis-h" style="float: right;padding-top: 5px;position: absolute;" ng-click="showLogsCol = !showLogsCol" title="Show or hide logs"></span>
                            <pre ng-style="{'display': showLogsCol ? 'revert' : 'none'}"  class="stacktrace">{{entry.logMessage}}</pre></span>
                        </td>                         
                        <td ng-if="!entry.logMessage"></td>
                        <td class="freeze">{{entry.worker}}</td>
                    </tr>
                </tbody>
            </table>
            
            <div ng-attr-title="{{'Tests Queued: '+ testsQueued}}">
                <table style="display: block; border: 0px;padding:2px;" ng-style="{'visibility': testsQueued > 0 ? 'visible': 'hidden', 'color': 'black', 'background-color': '#566d91','width': testsQueued * 10.5,'height':0}"></table>
            </div>
            
            <table ng-if="!logDisabled" class="table table-hover table-striped table-condensed h6">
                <thead>
                <th>Test Arena 
                    <span class="cmd fa fa-ellipsis-h" style="float: right;padding-top: 5px;position: absolute;" ng-click="showLogStream()" title="Show or hide logs"></span>
                </th>
                </thead>
                 <tbody><!--  ng-if="currentTopic.length != 0 -->
                    <!--<span class="fa fa-cog fa-spin" ng-show="$parent.logLoading" />-->
                    <tr  ng-repeat="entry in log | filter:searchTerm">                        
                        <td>
                            <span ng-class="{error: entry.result === 'Failed', infor: entry.result === 'Passed'}">{{entry.result}}</span>
                            | <span class="popuptrigger" ng-click="showLogs = !showLogs">{{entry.testName}}</span>
                            <span> | <span style="font-style: bold;"></span>{{entry.duration}}</span> s</span>
                            | <span style="font-style: italic;">{{entry.worker}}</span>
                            
                            <div class="popup">
                                <span class="popuptext" ng-class="{show: showLogs}">
                                    <span title="Reload" ng-click="publish('', 'StartUnitTest '+entry.dll+'$'+entry.testName+'')" class="cmd fa fa-rocket"></span>
                                    <span class="cmd fa fa-crosshairs" ng-click="publish('', 'FocusOn '+entry.testName+'')" title="Focus On this test"></span>
                                    <span ng-repeat="a in entry.assets">
                                        <a ng-href="{{'/tenantLogs/' + a}}" target="_tenantlogs"><span class="cmd fa fa-stack-overflow" ng-attr-title="{{a}}"></span></a>
                                    </span>
                                </span>
                            </div>
                            <br/>   
                            <pre ng-style="{'display': showFullLog ? 'revert' : 'none'}" class="stacktrace">{{entry.logMessage}}</pre>                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
