/* Popup container - can be anything you want */
.popuptrigger {
    cursor: zoom-in;
}

.sticky-heading{
  background: #ccc;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  font-size: 30px;
  padding-left: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.active {
 color:  #0051b3 !important
}

.inactive {

}

.ux-option {
  float: right,
  
}

.freeze {
  width: 1em;   
}

.dark-theme {
    html, body, input, textarea, select, button, table, tr, td {
      background-color: #191b1c !important;
      color: #807769 !important;
      border-color: #363a3c !important;
    }
    .table > thead > tr > th {
      border-bottom-color: rgb(61, 65, 68);
  }  

  pre {
    color: rgb(210, 205, 197);
    background-color: rgb(32, 34, 35);
    border-color: rgb(65, 71, 74);
  }

 .tr, .th, .tfoot, .thead {
    border-top-color: rgb(61, 65, 68);
  }
  scrollbar-color: #484e51 #222526;
}


.settings {
  background: rgb(128, 135, 163);  
  width: 100%;
  position: absolute;
  padding: 27px;
  border-style: solid;
  .label {
    padding: 10px;
  }
}

.expand {
  overflow: visible !important;
  width: inherit !important;
}

.summary {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 600px;
  text-overflow: ellipsis;
}

.popup {
    position: relative;
    
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .dark {
    -webkit-filter: invert(1000%); 
    -moz-filter:    invert(1000%); 
    -o-filter: invert(1000%); 
    -ms-filter: invert(100%); 
  }

  .light {
    -webkit-filter: invert(0%); 
    -moz-filter:    invert(0%); 
    -o-filter: invert(0%); 
    -ms-filter: invert(0%); 
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.2s;
    animation: fadeIn 0.21s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }